<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   

   <add name="pruebas"
      connectionString="Data Source=192.168.30.20;Initial Catalog=pruebas_4;Persist Security Info=True;User ID=SA;Password=105A98c22"
      providerName="System.Data.SqlClient" />
    <add name="productiva"
      connectionString="Data Source=192.168.30.20;Initial Catalog=SBO_rentandes_produccion;Persist Security Info=True;User ID=SA;Password=105A98c22"    
      providerName="System.Data.SqlClient" /> 
  <!--
     <add name="pruebas"
      connectionString="Data Source=172.24.114.1;Initial Catalog=;Persist Security Info=True;User ID=SA;Password=mYFC8NnS"
      providerName="System.Data.SqlClient" />
    <add name="productiva"
      connectionString="Data Source=172.24.114.1;Initial Catalog=SBO_rentandes_produccion;Persist Security Info=True;User ID=SA;Password=mYFC8NnS"    
      providerName="System.Data.SqlClient" /> 
   -->
  </connectionStrings>
  
  <appSettings>
    <!--Datos generales-->
    <!-- datos servidor anterior-->
    <add key="Server" value="192.168.30.20"/>
    <add key="ServerDBUser" value="SA"/>
    <add key="ServerDBPass" value="105A98c22"/> 
    <add key="LicenseServer" value="192.168.30.6:30000"/>
    <add key="BD1" value="pruebas_4"/>
    <add key="BD2" value="SBO_rentandes_produccion"/>
    <add key="UserSAP1" value="B1i"/>  <!--value="manager"/>-->
    <add key="PasswordSAP1" value="1234"/> <!-- value="r3ntandes*"/>-->
    
  
  <!--
    <add key="Server" value="172.23.114.1"/>
    <add key="ServerDBUser" value="SA"/>
    <add key="ServerDBPass" value="mYFC8NnS"/> 
    <add key="LicenseServer" value="172.29.114.1:30000"/>
    <add key="BD1" value="pruebas_4"/>
    <add key="BD2" value="SBO_rentandes_produccion"/>
    <add key="UserSAP1" value="manager"/>
    <add key="PasswordSAP1" value="Exxis2020*"/>
       -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>